<div class="container">
  <div class="pipe">
    <ul>
      <li>Original: 12000</li>
      <li>Pipe: {{ 12000 | numberFormat: { thousandSeparator: ',', decimalSeparator: '.' } }}</li>
    </ul>
  </div>

  <br><br><br>

  <div class="form">
    <label>Con NgModel</label>
    <input type="text" #number2="ngModel" [(ngModel)]="number" name="number" numberAuto="false" numberMin="5000" autocomplete="off">
    <p *ngIf="number2?.errors?.numberMin">El mínimo es 5000</p>

    <ul>
      <li>Valor sin cambios: {{ number }}</li>
    </ul>
  </div>
  <div class="form">
    <form [formGroup]="form" autocomplete="off">
      <label>Con FormControlName</label>
      <input type="text" formControlName="number" name="number" numberMax="76000" numberDecimals="2">
      <p *ngIf="form?.controls?.number?.errors?.numberMin">El mínimo es 5000</p>

      <ul>
        <li>Valor sin cambios: {{ form.controls.number.value }}</li>
      </ul>
    </form>
  </div>
</div>
